.backColor {
  background-color: var(--color-background);
}

.formContainer {
  background-color: var(--color-surfaceContainerLowest);
  margin: 0 auto;
  padding: 20px;
  max-width: 900px;
  margin-top: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* 각 formGroup 사이의 간격을 줍니다 */
}

.formGroup {
  display: flex;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  align-items: center; /* 라벨과 입력 필드를 수직 가운데 정렬 */
}

.formGroup label {
  font-weight: bold;
  margin-right: 10px; /* 라벨과 입력 필드 사이의 간격 */
  min-width: 120px; /* 라벨의 최소 너비를 설정하여 일관된 정렬 */
}

.formGroup input,
.formGroup textarea {
  flex: 1; /* 입력 필드가 남은 공간을 모두 차지하도록 설정 */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.checkboxGroup {
  display: flex;
  gap: px;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.submitButton {
  background-color: var(--color-primary);
  color: var(--color-background);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.resetButton {
  background-color: var(--color-outline);
  color: var(--color-background);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:hover,
.resetButton:hover {
  opacity: 0.8;
}

.name {
  max-width: 900px;
  margin-top: 60px;
  padding-left: 100px; /* 필요에 따라 조정 가능 */
}

.word {
  font-size: 35px; /* 글자 크기를 적절하게 조정 */
  font-weight: bold; /* 글씨 두께 조정 */
  color: var(--primary-outline);
}

.deleteButton {
  background-color: var(--color-error);
  color: var(--color-background);
  padding: 7px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.deleteButton:hover {
  opacity: 0.8;
}
