.title {
  font-size: 32px;
  font-weight: bold;
  align-self: flex-start;
  margin-left: 4rem;
}

/* Banner section */
.banner {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 20px;
}

/* Main content section */
.mainContent {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1.5rem 6rem;
  box-sizing: border-box;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchSection {
  width: 80%;
  margin: 2.5rem auto 1rem;
}

.filters {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;   
  margin-top: 1rem;
}

.dropdown {
  margin-right: 0px;
}

.videoGrid {
  display: grid;
  gap: 1.25rem;                  
  grid-template-columns: repeat(
    auto-fit,
    minmax(260px, 1fr)              
  );
  width: 100%;                      
  margin-top: 2.5rem;
}

@media screen and (max-width: 480px) {
  /** 모바일 세로 */
  .searchSection {
    width: 100%;
  }

  .videoGrid {
    grid-template-columns: 1fr; /* 한 줄에 하나의 카드 */
    gap: 12px; /* 간격 축소 */
  }
}

@media screen and (max-width: 768px) {
  /** 모바일 가로, 태블릿 세로 */
  .searchSection {
    width: 90%;
  }

}

@media screen and (max-width: 1024px) {
  /** 태블릿 가로 */
  .videoGrid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  }
}

@media (min-width: 1440px) {
  .videoGrid {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1.5rem;
  }
}