@font-face {
  font-family: "GmarketSans";
  font-weight: 700;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot");
  src:
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff2") format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.woff") format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/gmarket/GmarketSansBold.ttf") format("truetype");
  font-display: swap;
}

.element {
  font-family: "GmarketSans";
  font-size: 10px;
  color: black;
}

.container {
  background-color: var(--color-primaryContainer);
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
