.dropdown {
    position: relative;
    display: inline-block;
    width: 300px;
    font-family: pretendard;
    background-color: white;
    border: 1px solid black;
    color: black;
}

.dropdown:hover {
    background-color: #DFE2EB;
}

.dropdownToggle {
    background-color: white;
    border: 1px solid black;
    padding: 8px;
    width: 300px;
    text-align: left;
    color: black;
}

.dropdownItem {
    padding: 8px;
    cursor: pointer;
    background-color: white;
    font-family: pretendard;
    color: black;
    width: 300px;
}

.dropdownItem:hover {
    background-color: #DFE2EB;
}