.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  vertical-align: middle;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  /* width: 100%; */
  top: 50%;
  transform: translate(0, -50%);

  width: 1280px;

  @media screen and (max-width: 1280px) {
    /** 태블릿 가로, 노트북 */
    width: 1024px;
  }

  @media screen and (max-width: 1024px) {
    /** 태블릿 가로 */
    width: 768px;
  }

  @media screen and (max-width: 768px) {
    /** 모바일 가로, 태블릿 세로 */
    width: 100%;
    padding: 0 20px;
  }

  @media screen and (max-width: 480px) {
    /** 모바일 세로 */
    width: 100%;
    padding: 0 10px;
  }
}

.stack {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title {
  display: flex;
  width: 100%;
  font-size: 4vw;
  font-weight: 700;
  color: white;
}

.subtitle {
  display: flex;
  width: 100%;
  font-size: 1.7vw;
  font-weight: 400;
  color: white;
}

.text {
  position: flex;
  font-size: 1.3vw;
  font-weight: 500;
  width: 50%;
  color: white;
  padding-left: 50px;
  line-height: 140%;
  word-break: keep-all;
  text-align: right;
}

/* 모바일 화면에서 subtitle과 text 숨기기 */
@media screen and (max-width: 768px) {
  .text {
    display: none; /* 모바일 화면에서 숨김 */
  }

  .title {
    font-size: 8vw; /* 모바일에서 title 크기 조정 */
    text-align: center; /* 제목을 중앙 정렬 */
    margin-bottom: 7px;
  }

  .stack {
    width: 100%; /* 모바일에서 스택 너비 전체 확장 */
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    display: flex;
  }

  .group {
    top: 50%; /* 제목 위치 중앙으로 설정 */
    transform: translate(0, -50%); /* 완전한 중앙 정렬 */
  }
}

@media screen and (max-width: 480px) {
  .text {
    display: none; /* 모바일 화면에서 숨김 */
  }

  .title {
    font-size: 6vw; /* 작은 화면에서 title 크기 조정 */
    text-align: center; /* 제목을 중앙 정렬 */
    margin-bottom: 7px;
  }

  .stack {
    width: 100%; /* 스택 너비 전체 확장 */
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    display: flex;
  }

  .group {
    top: 50%; /* 제목 위치 중앙 */
    transform: translate(0, -50%); /* 중앙 정렬 유지 */
  }
}
