/* coop.module.css */
/* 전체 배경 색 통일 */

.pageBackground {
  background-color: var(--color-surfaceContainerLowest); /* 배경색 */
  min-height: 100vh; /* 화면 전체 높이 */
  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 세로 정렬 */
  justify-content: space-between; /* 위, 아래로 채우기 */
  align-items: stretch; /* 수평으로 늘리기 */
  margin: 0; /* 기본 여백 제거 */
  padding: 0; /* 기본 패딩 제거 */
  overflow-x: hidden; /* 가로 스크롤 방지 */
}

.content {
  margin: 20px auto;
  width: 100%; /* 부모 요소에 맞춤 */
  max-width: 700px; /* 최대 너비 제한 */
  padding: 0 10px; /* 모바일에서 양쪽 여백 설정 */
  background-color: var(--color-surfaceContainerLowest);
  line-height: 1.6;
  font-size: 19px;
  color: var(--color-onBackground);
  box-sizing: border-box; /* 패딩 포함 크기 계산 */
  overflow-x: hidden; /* 가로 콘텐츠 잘림 방지 */
}

.content img {
  margin: 20px 0;
  width: 100%; /* 이미지가 부모 요소에 맞춰지도록 설정 */
  height: auto; /* 비율 유지 */
  display: block; /* 인라인 여백 제거 */
}

.content ul {
  padding-left: 20px;
  list-style-type: disc;
}

.header {
  text-align: left;
  font-size: 38px;
  margin-top: 80px;
}

.subHeader {
  text-align: center;
  margin-top: 20px;
  font-size: 27px;
  font-weight: bold;
}

.subHeader hr {
  margin: 10px auto;
  margin-bottom: 50px;
  width: 40%;
  border: 0;
  border-top: 2px solid var(--color-onBackground);
}

@media screen and (max-width: 1280px) {
  /** 노트북, 큰 태블릿 */
  .content {
    width: 80%;
    max-width: 100%;
    font-size: 18px;
  }
}

@media screen and (max-width: 1024px) {
  /** 태블릿 가로 */
  .content {
    width: 90%;
    max-width: 100%;
    font-size: 17px;
  }

  .header {
    font-size: 32px;
  }

  .subHeader {
    font-size: 24px;
  }
}

/* 반응형 디자인 */
@media screen and (max-width: 768px) {
  .content {
    font-size: 16px;
    padding: 0 5%;
  }

  .header {
    font-size: 30px;
    text-align: center;
  }

  .subHeader {
    font-size: 22px;
  }

  .subHeader hr {
    width: 60%;
  }
}

@media screen and (max-width: 480px) {
  .content {
    font-size: 15px;
    padding: 0 5%;
  }

  .header {
    font-size: 30px;
  }

  .subHeader {
    font-size: 20px;
  }

  .subHeader hr {
    width: 80%;
  }
}
