.heading {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & > h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 500;
  }
}

.filterInput {
  width: 120px;

  & input {
    border-radius: 0;
  }
}

.searchInput {
  margin: 0 !important;
  width: 320px;
  height: 36px;

  & > input {
    border-radius: 0;
  }
}

.searchButton {
  padding: 0;
  border-radius: 0;
  width: 36px;
}

.container {
  border-top: 1px solid #000;
}

.content {
  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.item {
  padding: 20px 15px;
  border-bottom: 1px solid #888;
}

.top {
  margin-bottom: 10px;
}

.primaryFilledPin {
  color: var(--color-primary);
}

.title {
  width: calc(100% - 34px);
  font-size: 24px;
  text-decoration: none;
  color: var(--mantine-color-text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bottom {
  color: #888;
}
