.heading {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 0 20px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }

  & > h2 {
    margin: 0;
    font-size: 28px;
    font-weight: 500;
    /* color: var(--color-text); */
    color: var(--mantine-color-text);
  }
}

.filterInput {
  width: 120px;
  border-color: var(--color-inputBorder);
  background-color: var(--color-inputSurface);

  &:focus {
    border-color: var(--color-inputBorderFocus);
  }
  &:hover {
    background-color: var(--color-inputSurfaceHover);
  }
}
.filterDropdown {
  border-color: var(--color-inputBorder);
  background-color: var(--color-inputSurface);
}
.filterOption {
  &:hover {
    background-color: var(--color-inputSurfaceHover);
  }
}

.searchWrapper {
  width: 320px;
  height: 36px;
}
.searchInput {
  border-radius: 0;
  border-color: var(--color-inputBorder);
  background-color: var(--color-inputSurface);

  &:focus {
    border-color: var(--color-inputBorderFocus);
  }
  &:hover {
    background-color: var(--color-inputSurfaceHover);
  }
}

.searchButton {
  padding: 0;
  border-radius: 0;
  width: 36px;
}

.container {
  /* border-top: 1px solid var(--color-text); */
  border-top: 1px solid var(--mantine-color-text);
}

.content {
  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.item {
  padding: 20px 15px;
  /* border-bottom: 1px solid var(--color-description); */
  border-bottom: 1px solid var(--color-outline);
}

.top {
  margin-bottom: 10px;
}

.primaryFilledPin {
  color: var(--color-primary);
}

.title {
  width: calc(100% - 34px);
  font-size: 20px;
  text-decoration: none;
  /* color: var(--color-text); */
  color: var(--mantine-color-text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bottom {
  /* color: var(--color-description); */
  color: var(--color-outline);
}
