.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
  gap: 30px;
  justify-content: center;
  align-content: center;
  text-align: center;
}
