/* Full-width navbar */
.subHeadNavbar {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

/* Banner section */
.banner {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 20px;
}

/* Main content section */
.mainContent {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  padding-bottom: 100px;
}

.heading {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  padding-bottom: 0px;
  padding-top: 50px;
}

.projName {
  margin-bottom: 30px;
}

.formRow {
  width: 100%;
  margin-bottom: 20px;
}

.formFile {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}

.formFile label {
  margin-bottom: 15px;
}

.formFile .InputWrapper {
  margin-right: 30px;
  /* TextInput과 버튼 사이에 간격 추가 */
}

.formFile .buttonWrapper {
  margin-top: 0px;
  /* 버튼 위에만 마진을 줌 */
}

.formFile .fileInput {
  font-size: 14px;
}

.checkboxGroup {
  margin-top: 15px;
  display: flex;
  gap: 20px;
}

.formRow label {
  font-weight: bold;
  margin-bottom: 15px;
}

.formActions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

/** 데스크탑 */

@media screen and (max-width: 480px) {
  /** 모바일 세로 */
}

@media screen and (max-width: 768px) {
  /** 모바일 가로, 태블릿 세로 */
}

@media screen and (max-width: 1024px) {
  /** 태블릿 가로 */
}

@media screen and (max-width: 1280px) {
  /** 태블릿 가로, 노트북 */
}

/* Modal content container */
.mantine-Modal-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure vertical centering across the viewport */
}

.mantine-Modal-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 400px; /* Set a fixed width for consistency */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Button container in the modal */
.modalActions {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  gap: 10px; /* Space between buttons */
  justify-content: center;
}

/* Buttons in the modal */
.modalActions button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
