.container {
  width: 98%;
  border: 1px solid #efeff0; /* TODO: dark mode μ„Έν… μ¶”κ°€*/
  background-color: var(--color-background);
  margin: 10px auto;
  border-radius: 12px;

  padding: 10px 20px;
}
