/* VideoCard.module.css */
/* VideoCard.module.css */

.container {
  box-sizing: border-box;
  position: relative;
  width: 320px;
  height: 281.82px;
  background: var(--color-surfaceContainerLowest);
  border: 1px solid var(--color-outlineVariant);
  border-radius: 12px;
  padding: 0;
}

.videoFrame {
  position: absolute;
  width: 300px;
  height: 167.65px;
  left: 10px;
  top: 10px;
  border-radius: 8px;
  overflow: hidden;
}

.details {
  display: flex;
  flex-direction: column;
  padding: 10px 12px;
  gap: 5px;
  position: absolute;
  width: 320px;
  height: 100px;
  left: 0px;
  top: 175px;
}

.title {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.subtitle {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.bookmarkIcon {
  width: 18px;
  height: 20px;
  cursor: pointer;
}
