.container {
  width: 100%;
  display: grid;
  grid-template-areas: "navbar main";
  background-color: var(--color-background);

  @media (min-width: 576px) {
    grid-template-columns: 100px auto;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 280px auto;
  }
}

.main {
  background-color: var(--color-background);
  padding: 30px;
}

.content {
  grid-area: main;
  position: static;
  height: 100vh;
}
