/* CardGridContainer.module.css */
.grid {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  width: 100%;
  margin-top: 2.5rem;
}

@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr; /* 한 줄에 하나의 카드 */
    gap: 12px; /* 간격 축소 */
  }
}
@media screen and (max-width: 1024px) {
  /** 태블릿 가로 */
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (min-width: 1440px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1.5rem;
  }
}
