.card {
  width: 100%;
  padding: 16px;
  border-radius: 12px;
}

.image_section {
  position: relative;
  aspect-ratio: 16/9;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
}

.image_view {
  object-fit: cover;
  border-radius: 8px;
}

.viewcount_icon {
  margin-right: 3px;
  margin-bottom: 8px;
}

.title {
  margin-top: 8px;
}

.viewcount {
  margin-bottom: 6px;
}

.bottom {
  padding-bottom: 8px;
}
