.image_section {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
}

.image_view {
  border-radius: 8px;
}

.viewcount_icon {
  margin-right: 2px;
  margin-bottom: 3px;
}

.title {
  margin-top: 8px;
}
