.container {
  table-layout: "fixed";
  overflow: visible;
}

.header {
  height: 44px;
  position: sticky;
  top: 0;
  background-color: var(--color-primaryContainer);
}
.select {
  border-color: var(--color-outlineVariant);
}
.select > * > input {
  --input-bd: var(--color-outlineVariant);
  &:focus,
  &:focus-within {
    border-color: var(--color-outlineVariant);
  }
}
