.container {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 40px;
  width: 80%;
}

@media screen and (max-width: 480px) {
  .heading {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .search-input {
    font-size: 12px;
    padding: 8px;
  }

  .dropdown {
    margin: 15px 0;
  }

  .notice-item {
    padding: 12px;
  }

  .pagination {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  /** 모바일 가로, 태블릿 세로 */
}

@media screen and (max-width: 1024px) {
  /** 태블릿 가로 */
}

@media screen and (max-width: 1280px) {
  /** 태블릿 가로, 노트북 */
}
