/* Banner section */
.banner {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 20px;
}

/* Main content section */
.mainContent {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem 6rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchSection {
  width: 80%;
  margin: 2rem auto 3.5rem;
}

.filters {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  margin-top: 1rem;
}

@media screen and (max-width: 480px) {
  /** 모바일 세로 */
  .title {
    font-size: 28px;
  }

  .searchSection {
    width: 100%;
  }

  .mainContent {
    padding: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  /** 모바일 가로, 태블릿 세로 */
  .title {
    font-size: 30px;
  }

  .searchSection {
    width: 90%;
  }

  .mainContent {
    padding: 0 20px;
  }
}
