/* Banner section */
.banner {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 20px;
}

/* Main content section */
.mainContent {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  padding-bottom: 100px;
}

.searchSection {
  margin-top: 40px;
  margin-bottom: 20px;
  justify-content: center;
}

.filters {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}

.dropdown {
  margin-right: 0px;
}

/* Grid container for video cards */
.videoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  /* Adjusts the number of columns based on screen size */
  gap: 20px;
  margin-top: 40px;
}

@media screen and (max-width: 480px) {
  /** 모바일 세로 */
  .title {
    font-size: 28px; /* 더 작은 폰트 크기 */
  }

  .search {
    padding: 30px 15px 0; /* 상단과 양측 패딩 조정 */
  }

  .dropdown {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .videoGrid {
    grid-template-columns: 1fr; /* 한 줄에 하나의 카드 */
    gap: 12px; /* 간격 축소 */
  }
}

@media screen and (max-width: 768px) {
  /** 모바일 가로, 태블릿 세로 */
  .title {
    font-size: 30px; /* 적절한 크기 */
  }

  .search {
    padding: 40px 20px 0;
  }

  .dropdown {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .videoGrid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* 작은 카드 크기 */
  }
}

@media screen and (max-width: 1024px) {
  /** 태블릿 가로 */
  .videoGrid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* 더 큰 카드 크기 */
  }
}
