/* Noticeboard를 감싸는 영역에 대한 전체 레이아웃 조정 */
.propose {
  margin: 40px auto;
  padding: 60px;
  width: 80%; /* 원하는 디자인에 맞게 너비를 조정 */
  background-color: var(--color-surfaceContainerLowest);
  box-sizing: border-box;
}

/* 페이지 전체의 배경색을 조정 */
.backColor {
  background-color: var(--color-surfaceContainerLowest);
}
/* 마지막 하단 여백 제거 */
.propose:last-child {
  margin-bottom: 0;
  padding-bottom: 50px;
}

.button {
  margin-top: 50px;
  text-align: right;
}

.notLoggedIn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: var(--color-onBackground);
  text-align: center;
  width: 100%; /* 부모 컨테이너의 전체 너비 */
  height: 50vh; /* 화면 높이의 50%만 사용 */
  background-color: var(--color-surfaceContainerLowest); /* 배경 색상 */
  box-sizing: border-box; /* 패딩과 보더 포함 */
  margin: 0;
  padding: 0;
}

.noPermission {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: var(--color-onBackground);
  text-align: center;
  width: 100%; /* 부모 컨테이너의 전체 너비 */
  height: 50vh; /* 화면 높이의 50%만 사용 */
  background-color: var(--color-surfaceContainerLowest); /* 배경 색상 */
  box-sizing: border-box; /* 패딩과 보더 포함 */
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 480px) {
  /** 모바일 세로 */
  .propose {
    margin: 40px auto;
    padding: 60px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  /** 모바일 가로, 태블릿 세로 */
  .propose {
    margin: 40px auto;
    padding: 60px;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  /** 태블릿 가로 */
}

@media screen and (max-width: 1280px) {
  /** 태블릿 가로, 노트북 */
}
