.container {
  margin: 60px 20px 20px 20px;
}

.userInfoContainer {
  padding: 30px;
  max-width: 600px;

  border: 1px solid var(--color-outline);
  border-radius: 12px;
}

.userInfoContainer > .title {
  font-size: 32px;
  margin-bottom: 30px;
}

.userInfoContainer > .rowGroup,
.UserInfoEditModal > .rowGroup {
  width: 100%;
  margin-bottom: 30px;
}

.userInfoContainer > .rowGroup > .row,
.UserInfoEditModal > .rowGroup > .row {
  display: flex;
  gap: 10px;
  width: 100%;
  line-height: 22px;
  font-size: 16px;
  margin-top: 25px;
}

.userInfoContainer > .rowGroup > .row > .firstCol,
.UserInfoEditModal > .rowGroup > .row > .firstCol {
  font-weight: 700;
  width: 25%;
  flex-shrink: 0;
}
