@import url('src/theme/fonts/pretendard.css');

:root {
  --primary-container: #D2E4FF; /* material-theme/sys/light/primary-container 값 */
}

.card {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 20px;
  max-width: 300px; /* 가로 길이를 더 길게 조정 */
  font-family: "Pretendard Variable", __Pretendard_Fallback_e223ab, sans-serif;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.company {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 10px;
}

.position {
  color: #666;
  margin-bottom: 10px;
}

.divider {
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

.details {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.label {
  color: #000;
  font-size: 0.9em;
  margin-right: 10px;
}

.tagContainer {
  display: flex;
  gap: 10px;
}

.tag {
  background-color: var(--primary-container); /* primary-container 색상으로 변경 */
  color: #1c4975;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
}

.location {
  font-size: 0.9em;
}
