.element {
  border: 1px solid var(--color-outline);
  background-color: var(--color-background);
  color: var(--color-onBackground);
  &:hover {
    background-color: var(--color-background);
    color: var(--color-onBackground);
    border: 1px solid var(--color-outlineVariant);
  }
}
