.root {
  color: var(--color-primary);

  --pagination-active-bg: var(--color-primary);
}

.element_selected {
  background-color: var(--color-primary);

  &:hover {
    background-color: var(--color-onPrimaryFixedVariant);
  }
}
