.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;

  gap: 20px;
  padding: 50px 0px;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 0 1.5rem 6rem;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    /** 모바일 가로, 태블릿 세로 */
    padding: 0 20px;
  }

  @media screen and (max-width: 480px) {
    /** 모바일 세로 */
    padding: 0 10px;
  }
}

.title {
  font-size: 32px;
  font-weight: 700;
}
