.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;

  gap: 20px;
  padding: 50px 0px;
}

.container {
  margin: 0 auto;
  width: 100%; /* 화면 너비에 항상 맞춤 */
  max-width: 1440px;
  padding: 0 1.5rem 6rem;
  box-sizing: border-box; /* 패딩과 테두리를 너비에 포함 */

  @media screen and (max-width: 480px) {
    padding: 0 10px;
  }
}

.title {
  font-size: 32px;
  font-weight: 700;
}
