.input {
  border: 1px solid var(--color-inputBorder);
  border-radius: 8px;
  background-color: var(--color-inputSurface);

  &:hover {
    border: 1px solid var(--color-inputBorder);
    background-color: var(--color-inputSurfaceHover);
  }

  &:focus {
    border: 1px solid var(--color-inputBorderFocus);
    background-color: var(--color-inputSurface);
  }
}
