.loginBox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 8px 12px;
  gap: 16px;
  position: relative;
  max-width: 727px;
  max-height: 570px;
  background: var(--color-surfaceContainerLowest);
  border: 1px solid var(--color-surfaceVariant);
  border-radius: 12px;
}

.logo {
  margin-bottom: 0px;
  width: 80%;
  max-width: 256px;
  height: auto;
}

.button {
  margin: 10px 0;
  cursor: pointer;
  padding: 1em;
  width: 80%;
  height: 15%;
  max-width: 600px;
  max-height: 90px;
  border-radius: 12px;
  gap: 0px;
  font-size: 1.5em;
}

.button img {
  width: 100%;
  height: auto;
  max-height: 50px;
}
