.container {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.gridItem {
  cursor: pointer;
}

.projectGrid {
  display: grid;
  /* grid-template-columns: auto 1fr auto; */
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 1fr)
  ); /*  최소 300px, 나머지 공간 균등 배분 */
  gap: 20px; /* 카드 간 간격 */
  margin-bottom: 20px;
}
