/** Light mode {
  --color-primary: #37618e;
  --color-text: #000;
  --color-description: #888;
  --color-cover: #fff;
}*/

/** Dark mode {
  --color-primary: #37618e;
  --color-text: #c9c9c9;
  --color-description: #888;
  --color-cover: #2c2c2c;
}*/

.footer {
  padding: 30px 40px;
  /* background-color: var(--color-cover); */
  background-color: var(--color-background);
}

.title {
  margin-bottom: 20px;

  & > h2 {
    margin: 0 5px 0 0;
    display: inline-block;
    font-weight: 600;
    font-size: 28px;
  }

  & > h3 {
    margin: 0;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
  }
}

.terms {
  margin-bottom: 20px;

  & a {
    text-decoration: none;
  }

  & > a:nth-of-type(1) {
    color: var(--color-primary);
  }

  & > a:nth-of-type(2) {
    /* color: var(--color-text); */
    color: var(--mantine-color-text);
  }
}

.dividertnt {
  margin: 0 15px;
  display: inline-block;
  width: 1px;
  height: 12px;
  /* background-color: var(--color-description); */
  background-color: var(--color-outline);
}

.detail {
  margin-bottom: 20px;
  /* border-top: 1px solid var(--color-text); */
  border-top: 1px solid var(--mantine-color-text);
  padding-top: 10px;

  & span {
    display: block;
    line-height: 20px;
  }
}

.logos {
  & > img:not(:nth-child(3)) {
    width: auto;
    height: 60px;
  }

  & > img:nth-child(3) {
    width: auto;
    height: 40px;
    transform: translateY(-25%);
  }

  @media screen and (max-width: 576px) {
    text-align: center;

    & > img:nth-child(3) {
      transform: translateY(0);
    }
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 5vw; /* 제목 글씨 크기 줄이기 */
    margin-bottom: 7px; /* 약간의 여백 추가 */
  }

  .terms > a {
    font-size: 14px; /* 링크 글씨 크기 줄이기 */
  }

  .detail {
    font-size: 12px; /* 세부 텍스트 크기 줄이기 */
    line-height: 1.4; /* 줄 간격 조정 */
  }

  .logos > img {
    height: 40px !important; /* 로고 이미지 크기 줄이기 */
    width: auto; /* 비율 유지 */
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 5vw; /* 제목 글씨 크기 줄이기 */
    margin-bottom: 7px; /* 약간의 여백 추가 */
  }

  .terms > a {
    font-size: 12px; /* 링크 글씨 크기 줄이기 */
  }

  .detail {
    font-size: 12px; /* 세부 텍스트 크기 줄이기 */
    line-height: 1.4; /* 줄 간격 조정 */
  }

  .logos > img {
    height: 30px !important; /* 로고 이미지 크기 줄이기 */
    width: auto; /* 비율 유지 */
  }
}
