.navbar {
  background-color: var(--color-primary);
  color: var(--color-onPrimary);
}

.navtit {
  margin: 0 30px;
  height: 80px;
  display: flex;
  align-items: center;

  & > h3 {
    margin: 0;
  }
}

.divider {
  margin: 18px 0;
}

.navlist {
  & ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
  }
}

.navitem {
  cursor: pointer;

  a {
    text-decoration: none;
    color: var(--color-onPrimary);
  }

  & > div {
    height: 80px;
    padding: 0 40px;
    display: flex;
    align-items: center;
  }
}

/* 모바일 화면에서는 숨김 */
@media screen and (max-width: 768px) {
  .navbar {
    display: none; /* 모바일 화면에서 숨김 */
  }
}

/* 다크모드 색상 */
@media (prefers-color-scheme: dark) {
  .navbar {
    background-color: #2e3135;
    color: #ffffff;
  }

  .navitem a {
    color: #ffffff;
  }
}
