.search {
  width: 100%;
  max-width: 1100px; /* 최대 너비 설정 */
  margin: 0 auto; /* 중앙 정렬 */
  padding: 50px 30px 0; /* 모바일 환경에 맞게 상단과 양측 패딩 조정 */
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}

.backColor {
  background-color: var(--color-surfaceContainerLowest);
  display: flex;
  justify-content: center; /* 콘텐츠를 가로로 중앙에 정렬 */
  align-items: center; /* 콘텐츠를 세로로 중앙에 정렬 */
  flex-direction: column; /* 자식 요소들을 수직으로 정렬 */
}

.dropdown {
  gap: 10px; /* 드롭다운 간의 간격 설정 */
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-color: var(--color-inputBorder);
  border-top: 0;
  line-height: 24px;
  display: flex;
}

.dropdown > * {
  flex-grow: 1; /* 자식 요소가 남은 공간을 채우도록 설정 */
}

.videoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* 최소 300px, 최대 1fr로 반응형 */
  gap: 30px 30px; /* 카드 간의 간격: 행 간격 20px, 열 간격 30px */
  justify-content: center; /* 그리드를 수평으로 가운데 정렬 */
  align-items: center; /* 그리드를 수직으로 가운데 정렬 */
  justify-items: center;
  padding: 20px; /* 그리드 영역에 여백 추가 */
  max-width: 1200px; /* 최대 그리드 너비 설정 */
  width: 100%;
  margin-bottom: 70px;
}

.space {
  width: 20px;
}

.input {
  border-color: var(--color-inputBorder);
  background-color: var(--color-inputSurface);
  transition: none;

  &::placeholder {
    color: var(--color-onSurface);
    opacity: 1;
  }
  &::-ms-input-placeholder {
    color: var(--color-onSurface);
  }

  &:hover {
    background-color: var(--color-inputSurfaceHover);
  }

  &[data-expanded] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.section {
  & * {
    color: var(--color-onSurface);
  }
}

.filterContainer {
  display: flex;
  flex-wrap: wrap; /* 필터 칩이 줄바꿈되도록 설정 */
  gap: 10px; /* 필터 칩 간의 간격 */
  align-items: center; /* 필터 칩과 버튼을 수직 정렬 */
  justify-content: center; /* 칩과 버튼이 왼쪽 정렬 */
  max-width: 1100px; /* 최대 너비 */
  margin: 10px auto 0px; /* 중앙 정렬 및 아래쪽 여백 */
}

@media screen and (max-width: 480px) {
  /** 모바일 세로 */
  .title {
    font-size: 28px; /* 더 작은 폰트 크기 */
  }

  .search {
    padding: 30px 15px 0; /* 상단과 양측 패딩 조정 */
  }

  .dropdown {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .videoGrid {
    grid-template-columns: 1fr; /* 한 줄에 하나의 카드 */
    gap: 12px; /* 간격 축소 */
  }
}

@media screen and (max-width: 768px) {
  /** 모바일 가로, 태블릿 세로 */
  .title {
    font-size: 30px; /* 적절한 크기 */
  }

  .search {
    padding: 40px 20px 0;
  }

  .dropdown {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .videoGrid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* 작은 카드 크기 */
  }
}

@media screen and (max-width: 1024px) {
  /** 태블릿 가로 */
  .videoGrid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* 더 큰 카드 크기 */
  }
}

@media screen and (max-width: 1280px) {
  /** 태블릿 가로, 노트북 */
}
